
<div class="container">
  <div>
    <h1>About Yo</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Nice little article</p>
    </div>
    <div class="col-md-4">
      <p>Some cute images of dogs </p>
    </div>
  </div>
</div>