<h1>StanCade</h1>
<hr>
<p>I'm in the middle of upgrading everything up to Rails 7</p>
<hr>
<p>More coming soon!</p>
<p></p>
<div class="card">
  <h5>Faune</h5>
  <%= image_tag("home_page/faune", width: 400, height: 300) %>
</div>

<div class="card">
  <h5>Bunny Jump</h5>
  <%= image_tag("home_page/bunny_jump.png", size: 300) %>
</div>

<br>
<br>
<br>
<br>