// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bunny {
  background-color: #86b3d1;
}

.dungeon {
  background-color: #86b3d1;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.faune-img {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.bunny-img {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}