
    <nav class="navbar navbar-expand-lg navbar-dark">
      <%= link_to "Home", main_index_path, class: "navbar-brand" %>
      <button id="navbar-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="navbar-toggler"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Bunny Jump", main_bunny_jump_path, class: "nav-link nav-item" %>
          <%= link_to "Dungeon", main_dungeon_path, class: "nav-link nav-item" %>
        </div>
      </div>
    </nav>